* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--font-inter);
}

:root {
  --bg-color-1: #f0f8ff;
  --bg-color-2: #c8d4df;
  --bg-color-3: #c3dff7;
  --border-color-1: #b9b9b9;
  --text-color-1: #408bcc;
  --text-color-2: #222121;
}

body {
  background-color: var(--bg-color-1);
}

.logo {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 1rem;

  img {
    width: 150px;;
  }
  
}