.search {
    background-color: var(--bg-color-2);
    padding: 3px;
    width: min(1200px, 95%);
    margin:30px auto;
    border-radius: 30px;
    border: 1px solid var(--border-color-1);
    display: flex;
}

.search__bar {
    width: 100%;
    font-size: 1.2rem;
    padding: 2px 5px;
    background: none;
    border: none;
    color: var(--text-color-2);
    &:focus{
        outline: none;
    }
}

.search__btn{
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--text-color-1);
    background-color: var(--bg-color-1);
    border-radius: 100%;
    width: 40px;
    height: 40px;
    aspect-ratio: 1/1;
    object-fit: cover;
    border: 1px solid var(--border-color-1);
    cursor: pointer;
}

.search__category{
    width: min(1200px, 95%);
    
    margin: auto;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 5px;

    button{
        font-style: italic;
        font-size: 1.1rem;
        cursor: pointer;
        background: none;
        border: none;
        color: var(--text-color-2);
        padding: 5px;
        border-radius: 5px;

        &:hover{
            background-color: var(--bg-color-3);
        }

    }

    button:last-child{
         &::after{
            content: none;
        }
    }
}